@font-face {
    font-family: myPHPFont;
    src: url(font/Acme-Regular.ttf);
}
@font-face {
    font-family: myPHPFontNew;
    src: url(font/AguafinaScript-Regular.ttf);
}
p.p-arial{
	font-family: Arial;
}
p.p-font-new{
	font-family: myPHPFont;
}
p.p-font-new-2{
	/*font-family: myPHPFontNew;*/
	text-indent: 50px;
	text-align: justify;
}