footer{
	color: green !important;
	font-size: 3em;
}
#footer{
	color: green;
}
header{
	font-size: 30px;
}
aside{
	font-size: 200%;
}
footer ul li{
	color: red;
}
/*
.
.
.
*/
footer ul li {
	color: green;
}